/* h1::after{
    content: "Bootcamp";
    color: aquamarine;
} */
/* 
p::before{
    content: "BOOTCAMP";
    color: brown;
} */
/* 
p::first-letter{
    color: aqua;
} */

/* p::first-line{
    color: aqua;
} */
/* 
input::placeholder{
    color: antiquewhite;
} */

::selection{
    color: red;
    background-color: yellow;
}